<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    {% load static %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>FTBS</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <meta name="msapplication-TileColor" content="#206bc4"/>
    <meta name="theme-color" content="#206bc4"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="robots" content="noindex,nofollow,noarchive"/>
    <link rel="icon" type="image/x-icon" href={% static "image/favicon.ico" %}/>
    <link rel="shortcut icon" type="image/x-icon" href={% static "image/favicon.ico" %}/>
    <!-- Libs CSS -->
    <link rel="stylesheet" href={% static "libs/jqvmap/dist/jqvmap.min.css" %}/>
    <link rel="stylesheet" href={% static "libs/selectize/dist/css/selectize.css" %}/>
    <link rel="stylesheet" href={% static "libs/fullcalendar/core/main.min.css" %}/>
    <link rel="stylesheet" href={% static "libs/fullcalendar/daygrid/main.min.css" %}/>
    <link rel="stylesheet" href={% static "libs/fullcalendar/timegrid/main.min.css" %}/>
    <link rel="stylesheet" href={% static "libs/fullcalendar/list/main.min.css" %}/>
    <link rel="stylesheet" href={% static "libs/flatpickr/dist/flatpickr.min.css" %}/>
    <link rel="stylesheet" href={% static "libs/nouislider/distribute/nouislider.min.css" %}/>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css"/>
    <!-- Tabler Core -->
    <link rel="stylesheet" href={% static "css/tabler.min.css" %}/>
    <!-- Tabler Plugins -->
    <link rel="stylesheet" href={% static "css/tabler-flags.min.css" %}/>
    <link rel="stylesheet" href={% static "css/tabler-payments.min.css" %}/>
    <link rel="stylesheet" href={% static "css/tabler-buttons.min.css" %}/>
    <link rel="stylesheet" href={% static "css/demo.min.css" %}/>
    <style>
        body {
            display: none;
        }
    </style>
</head>
<body class="antialiased">
<div class="page">
    <header class="navbar navbar-expand-md navbar-light">
        <div class="container-xl">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pr-0 pr-md-3"
               href={% url 'ftbs:Home' %}>
                <img class="navbar-brand-image" alt="FTBS" src={% static "image/brand-icon.jpg" %}>
            </a>
            <div class="navbar-nav flex-row order-md-last">
                <div class="nav-item dropdown d-none d-md-flex mr-3">
                    <a href="#" class="nav-link px-0" data-toggle="dropdown" tabindex="-1">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bell" width="24"
                             height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                             stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"></path>
                            <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
                        </svg>
                        <span class="badge bg-red"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a class="dropdown-item" href={% url "ftbs:MyOrders" %}>新订单</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-toggle="dropdown">
                        <span class="avatar" style="background-image: url({% static "image/user.png" %})"></span>
                        <div class="d-none d-xl-block pl-2">
                            <div>{{ user.username }}</div>
                            {% if user.balance %}
                                <div class="mt-1 small text-muted">余额: {{ user.balance }}</div>
                            {% else %}
                                <div class="mt-1 small text-muted">余额: 0</div>
                            {% endif %}
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href={% url "ftbs:Profile" %}>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon dropdown-item-icon" width="24"
                                 height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                 stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z"></path>
                                <path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path>
                                <circle cx="12" cy="12" r="3"></circle>
                            </svg>
                            个人信息
                        </a>
                        <a class="dropdown-item" href={% url "ftbs:MyOrders" %}>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon dropdown-item-icon" width="24"
                                 height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                 stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z"></path>
                                <path d="M9 7 h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3"></path>
                                <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3"></path>
                                <line x1="16" y1="5" x2="19" y2="8"></line>
                            </svg>
                            我的订单
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href= {% url 'ftbs:Logout' %}>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon dropdown-item-icon" width="24"
                                 height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                 stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
                                <path d="M7 12h14l-3 -3m0 6l3 -3"></path>
                            </svg>
                            注销
                        </a>
                    </div>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbar-menu">
                <div class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href={% url 'ftbs:Home' %}>
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     class="nav-link-icon d-md-none d-lg-inline-block" width="24" height="24"
                                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                     stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <polyline points="5 12 3 12 12 3 21 12 19 12"></polyline>
                                    <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                                    <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
                                </svg>
                                <span class="nav-link-title">
                      首页
                    </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={% url "ftbs:Home" %}>
                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plane-departure"
                             width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                             fill="none"
                             stroke-linecap="round" stroke-linejoin="round">
                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                       <path d="M15 12h5a2 2 0 0 1 0 4h-15l-3 -6h3l2 2h3l-2 -7h3z"
                             transform="rotate(-15 12 12) translate(0 -1)"></path>
                       <line x1="3" y1="21" x2="21" y2="21"></line>
                    </svg>
                    </span>
                                <span class="nav-link-title">
                      航班查询
                    </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={% url "ftbs:MyOrders" %}>
                    <span class="nav-link-icon d-md-none d-lg-inline-block"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                 class="icon" width="24" height="24"
                                                                                 viewBox="0 0 24 24" stroke-width="2"
                                                                                 stroke="currentColor" fill="none"
                                                                                 stroke-linecap="round"
                                                                                 stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z"></path>
                        <polyline points="9 11 12 14 20 6"></polyline>
                        <path d="M20 12v6a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h9"></path>
                      </svg>
                    </span>
                                <span class="nav-link-title">
                      机票订单
                    </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="container-xl">
            <!-- Page title -->
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <h2 class="page-title">
                            预订航班: {{ flight_code }}
                        </h2>
                        {% if reschedule_order_order %}
                            <h5>
                                改签航班: {{ reschedule_order_order.flight.code }}
                            </h5>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="progress mb-2">
                <div class="progress-bar" style="width: 33%" role="progressbar" aria-valuenow="33" aria-valuemin="0"
                     aria-valuemax="100"></div>
            </div>
            <div class="row row-deck row-cards">
                <div class="box">
                    <div class="card">
                        <div class="card-header">
                            {% if remains %}
                                <h3 class="card-title">剩余舱位: {{ remains }}</h3>
                            {% else %}
                                <h3 class="card-title">剩余舱位: 未知</h3>
                            {% endif %}
                        </div>
                        <ul class="nav nav-tabs" data-toggle="tabs">
                            <li class="nav-item">
                                <a href="#tabs-input-passenger" class="nav-link active" data-toggle="tab">输入乘机信息</a>
                            </li>
                            {% if candidates and not reschedule_order_order %}
                            <li class="nav-item">
                                <a href="#tabs-choose-passenger" class="nav-link" data-toggle="tab">选择乘机信息</a>
                            </li>
                            {% endif %}
                        </ul>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane active show" id="tabs-input-passenger">
                                    <div class="card-body">
                                        <form id="flightorderform" method="post">
                                            {% csrf_token %}
                                            {% if not reschedule_order_order %}
                                                <div class="form-group mb-3 row">
                                                    <label class="form-label col-2 col-form-label"
                                                           for="id_name">姓名</label>
                                                    <input type="text" name='name' class="form-control" id="id_name"
                                                           placeholder="姓名"
                                                           style="width: 30%;">
                                                </div>
                                                <div class="form-group mb-3 row">
                                                    <label class="form-label col-2 col-form-label" for="id_identity">身份证号</label>
                                                    <input type="text" name='identity' class="form-control"
                                                           id="id_identity"
                                                           placeholder="身份证号"
                                                           style="width: 30%;">
                                                </div>
                                            {% endif %}
                                            <input type="hidden" name="reschedule_order_order"
                                                   value={{ reschedule_order_order.id }}>
                                            <div class="form-group mb-3 row">
                                                <label class="form-label col-2 col-form-label" for="id_seat">座位</label>
                                                <select class="form-select" id="id_seat" name='seat' style="width: 15%;"
                                                        form="flightorderform">
                                                    <option value="0">座位</option>
                                                    {% if seats_remain %}
                                                        {% for seat in seats_remain %}
                                                            <option value={{ seat.0 }}>{{ seat.1 }} {{ seat.2 }}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                            {% if messages %}
                                                <ul class="messages">
                                                    {% for message in messages %}
                                                        <li{% if message.tags %}
                                                            class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                            <div class="form-footer">
                                                {% if remains %}
                                                    <button type="submit" class="btn btn-outline-primary"
                                                            form="flightorderform">
                                                        确定
                                                    </button>
                                                {% else %}
                                                    <button type="submit" class="btn btn-outline-primary disabled"
                                                            form="flightorderform">
                                                        确定
                                                    </button>
                                                {% endif %}
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tabs-choose-passenger">
                                    <div class="card-body">
                                        <div class="mb-3">
                                        <form method="post" id="select_passenger">
                                            {% csrf_token %}
                                            {% for entry in candidates %}
                                            <div class="form-selectgroup form-selectgroup-boxes d-flex flex-column">
                                                <label class="form-selectgroup-item flex-fill">
                                                    <input type="checkbox" name="candidate_id" value="{{ entry.0 }}"
                                                           class="form-selectgroup-input">
                                                    <div class="form-selectgroup-label d-flex align-items-center p-3">
                                                        <div class="mr-3">
                                                            <span class="form-selectgroup-check"></span>
                                                        </div>
                                                        <div class="form-selectgroup-label-content d-flex align-items-center">
                                                            <div class="lh-sm">
                                                                <div class="strong">{{ entry.1 }}</div>
                                                                <div class="text-muted">{{ entry.2 }}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                            {% endfor %}
                                            <div class="form-group mb-3 row" style="margin-top: 15px">
                                                <label class="form-label col-2 col-form-label" for="id_seat">座位</label>
                                                <select class="form-select" id="id_seat" name='seat' style="width: 15%;"
                                                        form="select_passenger">
                                                    <option value="0">座位</option>
                                                    {% if seats_remain %}
                                                        {% for seat in seats_remain %}
                                                            <option value={{ seat.0 }}>{{ seat.1 }} {{ seat.2 }}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                            <div class="form-footer">
                                                    {% if remains %}
                                                        <button type="submit" class="btn btn-outline-primary"
                                                                form="select_passenger">
                                                            确定
                                                        </button>
                                                    {% else %}
                                                        <button type="submit" class="btn btn-outline-primary disabled"
                                                                form="select_passenger">
                                                            确定
                                                        </button>
                                                    {% endif %}
                                                </div>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer footer-transparent">
            <div class="container">
                <div class="row text-center align-items-center flex-row-reverse">
                    <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                        Copyright © 2021
                        <a href="." class="link-secondary">Zilai Zeng</a>.
                        All rights reserved.
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<!-- Libs JS -->
<script src={% static "libs/bootstrap/dist/js/bootstrap.bundle.min.js" %}></script>
<script src={% static "libs/jquery/dist/jquery.slim.min.js" %}></script>
<script src={% static "libs/apexcharts/dist/apexcharts.min.js" %}></script>
<script src={% static "libs/jqvmap/dist/jquery.vmap.min.js" %}></script>
<script src={% static "libs/jqvmap/dist/maps/jquery.vmap.world.js" %}></script>
<script src={% static "libs/jqvmap/dist/maps/jquery.vmap.usa.js" %}></script>
<script src={% static "libs/jqvmap/dist/maps/continents/jquery.vmap.europe.js" %}></script>
<script src={% static "libs/peity/jquery.peity.min.js" %}></script>
<!-- Tabler Core -->
<script src={% static "js/tabler.min.js" %}></script>
<script>
    // @formatter:off
    noUiSlider.create(document.getElementById('range-simple'), {
        start: 20,
        connect: [true, false],
        step: 10,
        range: {
            min: 0,
            max: 100
        }
    });
    // @formatter:on
</script>
<script>
    // @formatter:off
    noUiSlider.create(document.getElementById('range-connect'), {
        start: [60, 90],
        connect: [false, true, false],
        step: 10,
        range: {
            min: 0,
            max: 100
        }
    });
    // @formatter:on
</script>
<script>
    // @formatter:off
    noUiSlider.create(document.getElementById('range-color'), {
        start: 40,
        connect: [true, false],
        step: 10,
        range: {
            min: 0,
            max: 100
        }
    });
    // @formatter:on
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        flatpickr(document.getElementById('calendar-simple'), {});
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        flatpickr(document.getElementById('calendar-time'), {});
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        flatpickr(document.getElementById('calendar-inline'), {
            inline: true,
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#select-tags').selectize({
            maxItems: 15,
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#select-tags-advanced').selectize({
            maxItems: 15,
            plugins: ['remove_button'],
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#select-users').selectize({});
    });
</script>
<script>
    $(document).ready(function () {
        $('#select-people').selectize({
            render: {
                option: function (data, escape) {
                    return '<div class="option">' + data.avatar + '' + escape(data.text) + '</div>';
                },
                item: function (data, escape) {
                    return '<div class="d-flex align-items-center">' + data.avatar + '' + escape(data.text) + '</div>';
                }
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#select-countries').selectize({
            render: {
                option: function (data, escape) {
                    return '<div class="option"><span class="flag flag-country-' + data.flag + ' mr-2 ml-n1"></span>' + escape(data.text) + '</div>';
                },
                item: function (data, escape) {
                    return '<div class="d-flex align-items-center"><span class="flag flag-country-' + data.flag + ' mr-2 ml-n1"></span>' + escape(data.text) + '</div>';
                }
            }
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#select-states').selectize({
            render: {
                option: function (data, escape) {
                    return '<div class="option"><span class="flag flag-country-' + data.flag + ' mr-2 ml-n1"></span>' + escape(data.text) + '</div>';
                },
                item: function (data, escape) {
                    return '<div class="d-flex align-items-center"><span class="flag flag-country-' + data.flag + ' mr-2 ml-n1"></span>' + escape(data.text) + '</div>';
                }
            }
        });
    });
</script>
<script>
    (function () {
        /**
         * Input mask
         */
        var maskElementList = [].slice.call(document.querySelectorAll('[data-mask]'))
        maskElementList.map(function (maskEl) {
            console.log('maskEl', maskEl);
            return new IMask(maskEl, {
                mask: maskEl.dataset.mask,
                lazy: maskEl.dataset['mask-visible'] === 'true'
            })
        });
    })();
</script>
<script>
    (function () {
        const elements = document.querySelectorAll('[data-toggle="autosize"]');
        if (elements.length) {
            elements.forEach(function (element) {
                autosize(element);
            });
        }
    })();
</script>
<script>
    document.body.style.display = "block"
</script>
</body>
</html>